li {
  list-style: none;
}
.slide_box {
  position: relative;
}
#slide {
  padding-top: 15px;
  margin-left: 20px;
  z-index: 0;
  width: 720px;
  overflow: hidden;
}
#slide ul {
  position: relative;
}
#slide ul li {
  position: absolute;
  float: left;
}
